<ion-header>
  <ion-toolbar>
    <ion-title>
      Ingreso de Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<h1>Proyecto Progra 3</h1>



<div>
  <form (ngSubmit)="sendForm()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="person.primerNombre" name="primerNombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-textarea [(ngModel)]="person.segundoNombre" name="segundoNombre"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input type="text" [(ngModel)]="person.edad" name="edad"></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" color="primary">{{ action }}</ion-button>
  </form> 
</div>

</ion-content>
