<ion-header>
  <ion-toolbar>
    <ion-title>
      Integrantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <ion-card-header>
        <ion-card-title>3190-17-13430</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ingrid Alicia Marcela Tojín Mejía
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>3190-17-2307</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        José Antonio Rojas Gómez
      </ion-card-content>
    </ion-card>  
    <ion-card>
      <ion-card-header>
        <ion-card-title>3190-17-11155</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Jorge Eduardo Miguel Aguilar Oliva
      </ion-card-content>
    </ion-card>
</ion-content>


